h1 {
  color: blue;
  text-align: center;
}
h2 {
  color: black;
  text-align: center;
}
h3 {
  color: black;
  text-align: center;
}
p {
  color: black;
  text-align: center;
}
body {
  background-color: #45D2DB;
  font-family: sans-serif;
  background-clip: border-box;
  background-position: center;
  padding: 0 40px 40px 40px;
}

.form-group {
  background-color: grey;
  margin: 60px;
  margin-right: 400px;
}

#btn {
  color: blue;
  background-color: #1D4D27;
}
